body {
    background-color:black;
    font-family: sans-serif, 'Segoe UI', Tahoma, Verdana;
    margin:0;
    
}

#app {
    margin-top: 0px;
}

.content {
    background: #fff;
    width: 1226px;
    height: 790px;
    border-radius: 0px;
}

.stock-box {
    position: relative;
    width: 298px;
    margin: 48px;
    top: -60px;
    left: 10px;
    border-top: 1px solid #004d99;
    border-bottom: 1px solid#004d99;
    color: #004d99;
}

.stock-stats {
    height: 100px;
}

.logo {
    position:relative;
    left: -400px;
    padding:48px;
}

.chart-img {
    right: 350px;
    position: absolute;
    top: 78px;
    width: 728px;
    height: 418px;
}

.calledby-img {
    width: 400px;
    height: 100px;
    position: relative;
    top: -80px;
    right:-90px;
}

.stock-return {
    font-size: 80px;
    position:absolute;
    right: -16px;
}

h1, h2, h3 {
    margin: 28px;
    text-align: center;
}

h1 {
    font-size:100px;
}

.idea, .idea-value {
    color: green;
}

.idea-value, .high-value {
    font-size:40px;
}

.high, .high-value {
    color: red;
}

.stock-stats {
    width:95%;
    position: relative;
    bottom: 80px;
    color: #004d99;
    font-size: 26px;
}

.stock-stats2 {
    width: 32%;
    position: relative;
    bottom: 20px;
    color: #004d99;
}

.stock-stats tr {
    text-align: center;
}

.stock-stats th {
    font-size: 20px;
}

.stock-stats2 tr {
    text-align: center;
}

.stock-stats2 th {
    font-size: 20px;
}

.v-card__actions {
    width: 10%;
    padding:10px 10px 30px 10px;
}